<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :city_eq, "Filter by city: " %>
    <%= f.search_field :city_eq %>
  </div>

  <div class="field">
    <%= f.label :themes_cont_any, "Filter by themes: " %>
    <%= f.search_field :themes_cont_any %>
  </div>

  <div class="field">
    <%= f.label :start_date_time_gteq, "Date between" %>
    <%= f.search_field :start_date_time_gteq %>
    <%= f.label :finish_date_time_lteq, "and" %>
    <%= f.search_field :finish_date_time_lteq %>
  </div>

  <div class="actions"> <%= f.submit "Search" %> </div>
<% end %>