<%= render 'search_form' %>
<table id="events_table">
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Themes</th>
    <th>Start date and time</th>
    <th>Finish date and time</th>
  </tr>
  <tr>
    <% @events.each do |event| %>
      <td><%= event.name %></td>
      <td><%= event.city %></td>
      <td><%= event.themes %></td>
      <td><%= event.start_date_time.strftime("%Y-%m-%d %H:%M") %></td>
      <td><%= event.finish_date_time.strftime("%Y-%m-%d %H:%M") %></td>
    <% end %>
  </tr>
</table>