<h2><%= @event.name %></h2>
<p>Event city: <%= @event.city %></p>
<p>Event starts: <%= @event.start_date_time %></p>
<p>Event ends: <%= @event.finish_date_time %></p>
<p>Event themes: <%= @event.themes %></p>