<!DOCTYPE html>
<html>
<head>
  <title>MyCityEvents</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <p>
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
      <%= link_to "Edit", edit_user_registration_path %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path %> | 
      <%= link_to "Sign In", new_user_session_path %> |
    <% end %>
  </p>
  <h1><%= link_to "My City Events", root_path %></h1>
  <%= yield %>

</body>
</html>
